{% extends "layout.html" %}

{% block content %}
	<div class="body">
	    	<div class="sidebar">
		    <nav class="navbar navbar-default" role="navigation">
        <div class="fluid-container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ store.name }}</a>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if page.category == "index" %}active{% endif %}"><a href="/">{{ lang("category.home") }}</a></li>
                {% for category in store.categories %}
                  {% if category.subcategories|length > 0 %}
                    <li class="dropdown {% if category.active %}active{% endif %}">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }} <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                          {% for subcategory in category.subcategories %}
                            <li><a href="/category/{{ subcategory.id }}">{{ subcategory.name }}</a></li>
                          {% endfor %}
                        </ul>
                  {% else %}
                    <li class="{% if category.active %}active{% endif %}"><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                  {% endif %}
                {% endfor %}
                {% for page in store.pages %}
                    <li class="{% if page.active %}active{% endif %}"><a href="/{{ page.slug }}">{{ page.title }}</a></li>
                {% endfor %}                
                {% if basket.packages|length > 0 %} 
                    <li class="visible-xs {% if page.category == "checkout" %}active{% endif %}"><a href="/checkout/basket">Checkout</a></li>
                {% endif %}
                {% if basket.username %} 
                    <li class="visible-xs"><a href="/checkout/logout">Logout</a></li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
			{{ modules|raw }}
		</div>
		<div class="content">
		    <div class="top-cont">
		        <div class="buttons">
          <div class="toolbar">
            <div class="logout">
                {% if basket.username %} 
                    <a href="/checkout/logout" class="btn">{{ lang("button.logout") }}</a>
                {% endif %}
            </div>
            <div class="currency">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                {{ basket.currency }} <span class="fa fa-caret-down"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                {% for currency in store.currencies %}
                    {% if currency.code in [store.currency, "AUD", "BRL", "CAD", "DKK", "EUR", "NOK", "NZD", "GBP", "SEK", "USD", "PLN"] %}
                        <li {% if basket.currency == currency.code %}class="active"{% endif %}>
                          <a href="?currency={{ currency.code }}">{{ currency.code }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="basket">
                {% if basket.packages|length > 0 %}
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    {{ lang("basket.count", basket.packages|length, basket.price|money, basket.currency) }} <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        {% for package in basket.packages %}
                            <li class="item">
                            <div class="name">{{ package.name[:25] }}</div>
                            <div class="price">{{ package.price|money }} <small>{{ basket.currency }}</small></div>
                            <div class="remove"><a href="/checkout/packages/remove/{{ package.id }}"><span class="fa fa-times"</span></a></div>
                            </li>
                        {% endfor %}
                        <li class="checkout">
                          <div class="total"><b>{{ lang("basket.total") }}:</b> {{ basket.price|money }} <small>{{ basket.currency }}</small></div>
                          <div class="button"><a href="/checkout/basket" class="btn btn-success">Checkout</a></div>
                        </li>
                    </ul>
                {% else %}
                  <a href="#" class="btn" disabled="disabled"><i class="icon-shopping-cart icon-white"></i> {{ lang("basket.count", 0, 0.00, basket.currency) }}</a>
                {% endif %}
            </div>
          </div>
        </div>
		    </div>
			{% if category.description != "" %}
				<div class="panel panel-default">
					<div class="panel-heading">{{ category.name }}</div>
					<div class="panel-body">
						{{ category.description|raw }}
					</div>
				</div>
			{% endif %}
			<div class="panel panel-default">
				{% if category.description == "" %}
					<div class="panel-heading">{{ category.name }}</div>
				{% endif %}
				<div class="panel-body">
					{% if category.packages|length > 0 %}
					    <div class="category">
    						{% if category.displayType == "list" %}
                                <div class="packages-row">
                                    <table class="table table-hover table-striped">
    							        <tbody>
        									{% for package in category.packages %}
        									    <tr>
                                                  <td class="name">{{ package.name }}</td>
                                                  <td class="price">
                                                    {% if package.customPrice == false and package.price > 0 %}
        						                        {% if package.discount.applied %}
        						                  		    <span class="discount">{{ package.discount.original|money }}</span>
        						                  		{% endif %}
        												{{ package.price|money }} <small>{{ basket.currency }}</small>
        											{% endif %}
                                                  </td>
                                                  <td class="button">
                                                    {% if package.basket %}
        					                  			<a href="/checkout/packages/remove/{{ package.id }}" class="btn btn-sm btn-danger btn-block">{{ lang("button.remove") }}</a>
        					                  		{% else %}
        											    <a href="javascript::void(0);" data-remote="/package/{{ package.id }}" class="btn btn-sm btn-info btn-block toggle-modal">{{ lang("button.buy") }}</a>
        											{% endif %}
                                                  </td>
                                                </tr>
                                                <tr style="height: 20px!important"></tr>
        									{% endfor %}
    							        </tbody>
    						        </table>
    						    </div>
    						{% else %}
    						    <div class="packages-image">
        							{% for package in category.packages %}
        							    <div class="package">
                                            <div class="image">
                                                <a href="javascript:void(0);" data-remote="/package/{{ package.id }}" class="toggle-modal">
                                                    <img src="{{ package.image.url }}" class="toggle-tooltip {% if package.image.borderless %}img-rounded{% else %}img-thumbnail{% endif %}" title="Click for more details" />
                                                </a>
                                            </div>
                                            <div class="info">
                                              <div class="text">
                                                <div class="name">{{ package.name[:20] }}</div>
                                                <div class="price">
                                                    {% if package.customPrice == false and package.price > 0.00 %}
        												{% if package.discount.applied %}
        				                  					<span class="discount">{{ package.discount.original|money }}</span>
        				                  				{% endif %}
        												{{ package.price|money }} <small>{{ basket.currency }}</small>
        											{% endif %}
        										</div>
                                              </div>
                                              <div class="button">
                                                {% if package.basket %}
        		                  					<a href="/checkout/packages/remove/{{ package.id }}" class="btn btn-sm btn-danger btn-block">{{ lang("button.remove") }}</a>
        		                  				{% else %}
        											<a href="javascript::void(0);" data-remote="/package/{{ package.id }}" class="btn btn-sm btn-info btn-block toggle-modal">{{ lang("button.buy") }}</a>
        										{% endif %}
                                              </div>
                                            </div>
                                        </div>
        							{% endfor %}
        						</div>
    						{% endif %}
    					</div>
					{% else %}
						{{ lang("category.empty") }}
					{% endif %}
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}